<div class="become-bottom">
	<div class="progress progress-become-a-host" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		<div class="progress-bar" style="width: {{ progress }}%"></div>
	</div>
	<div
		class="become-bottom-links-next-page">
		<div class="right-button-become-page">
			<button type="submit" class="btn-right-become-page">Suivant</button>
		</div>
	</div>
</div>
