<div class="become-bottom">
	<div class="progress progress-become-a-host" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		<div class="progress-bar" style="width: {{ progress }}%"></div>
	</div>
	<div class="become-bottom-links">
		<div class="left-button-become-page">
			<a href="{{ backPath }}" class="btn-left-become-page">Retour</a>
		</div>
		<div class="right-button-become-page">
			<a href="{{ nextPath }}" class="btn-right-become-page">Suivant</a>
		</div>
	</div>
</div>
