<div class="cartridge-wrapper">
	<div class="host-cartridge">
		<section>
			<div class="d-flex align-items-center">
			<a href="{{ path('host_show', { 'id': ad.author.id }) }}">
				<div class="pic-host">
					{% if ad.author.avatar.imageName is defined and ad.author.avatar.imageName != null %}
						<img src="{{ vich_uploader_asset(ad.author.avatar, 'imageFile') }}" class="sc-img-gravatar">
					{% else %}
						<img src="{{ gravatar('sbouret@discommentondit.fr') }}" class="sc-img-gravatar"/>
					{% endif %}
				</div>
			</a>
				<div class="ml-24">
					<div class="host-title">
						Hôte :
						{% if ad.author.firstname is defined and ad.author.firstname != null %}
							{{ ad.author.firstname }}
						{% else %}
							...
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
