<nav class="ucj1osh">
	<div class="nav nav-tabs _1pv67u9c" id="nav-bookings-tab" role="tablist">
		<div class="_11b731e">
			<div class="_2ickz8">
				<a class="nav-link _2u19nx {% if app.request.attributes.get('_route') == 'admin_ad_listing' %}active{% endif %}" href="{{ path('admin_ad_listing') }}">
					<div class="_1y4kl69q">Annonces</div>
				</a>
				<a class="nav-link _2u19nx {% if app.request.attributes.get('_route') starts with 'admin_' and app.request.attributes.get('_route') ends with '_reservations' %}active{% endif %}" href="{{ path('admin_all_reservations') }}">
					<div class="_1y4kl69q">Réservations</div>
				</a>
			</div>
		</div>
	</div>
</nav>
